<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="exam.core.sales.mapper.OmOrderLinesMapper">
    <resultMap id="BaseResultMap" type="exam.core.sales.dto.OmOrderLines">
        <result column="LINE_ID" property="lineId" jdbcType="DECIMAL" />
        <result column="HEADER_ID" property="headerId" jdbcType="DECIMAL" />
        <result column="LINE_NUMBER" property="lineNumber" jdbcType="DECIMAL" />
        <result column="INVENTORY_ITEM_ID" property="inventoryItemId" jdbcType="DECIMAL" />
        <result column="ORDERD_QUANTITY" property="orderdQuantity" jdbcType="DECIMAL" />
        <result column="ORDER_QUANTITY_UOM" property="orderQuantityUom" jdbcType="VARCHAR" />
        <result column="UNIT_SELLING_PRICE" property="unitSellingPrice" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="ADDITION1" property="addition1" jdbcType="VARCHAR" />
        <result column="ADDITION2" property="addition2" jdbcType="VARCHAR" />
        <result column="ADDITION3" property="addition3" jdbcType="VARCHAR" />
        <result column="ADDITION4" property="addition4" jdbcType="VARCHAR" />
        <result column="ADDITION5" property="addition5" jdbcType="VARCHAR" />

        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
        <result column="ITEM_DESCRIPTION" property="itemDescription" jdbcType="VARCHAR" />
        <result column="ITEMS_MONEY" property="itemsMoney" jdbcType="DECIMAL" />
    </resultMap>

    <select id="get" parameterType="exam.core.sales.dto.OrderSummary" resultMap="BaseResultMap">
        select
        iii.INVENTORY_ITEM_ID,iii.ITEM_CODE,iii.ITEM_DESCRIPTION,(orl.ORDERD_QUANTITY*orl.UNIT_SELLING_PRICE) as ITEMS_MONEY,
        orl.LINE_NUMBER,orl.LINE_ID,orl.HEADER_ID,orl.ORDERD_QUANTITY,orl.ORDER_QUANTITY_UOM,orl.UNIT_SELLING_PRICE,orl.DESCRIPTION,
        orl.ADDITION1,orl.ADDITION2,orl.ADDITION3,orl.ADDITION4,orl.ADDITION5
        from
        hap_om_order_lines orl,
        hap_inv_inventory_items iii
        where orl.INVENTORY_ITEM_ID = iii.INVENTORY_ITEM_ID
        and orl.HEADER_ID=#{headerId,jdbcType=DECIMAL}
    </select>
    <!--and orl.HEADER_ID
    exists (select 1 from hap_om_order_headers orh
    <where>
        orh.HEADER_ID=orl.HEADER_ID
        <if test="headerId != null">and orh.HEADER_ID=#{headerId,jdbcType=DECIMAL}</if>
        <if test="orderNumber != null">and orh.ORDER_NUMBER=#{orderNumber,jdbcType=VARCHAR}</if>
    </where>)-->
    <select id="maxId" resultType="java.lang.Long">
        select max(LINE_ID) from hap_om_order_lines
    </select>

    <delete id="deleteByHeaderId">
        delete from hap_om_order_lines where HEADER_ID=#{headerId,jdbcType=DECIMAL}
    </delete>
</mapper>